/source_data/csv/
/source_data/othello_synthetic/
/source_data/pgn/
/data_handling/finetune/trained_model/trained_model_v2.zip
/data_handling/finetune/trained_model/trained_model.zip
/parsed_data/othello_games.data
